| #{tweet.tweet} – 
span.user= tweet.user
.actions
    span.delete.icon-close
    span.mark-negative.icon-minus
    span.mark-positive.icon-plus
if tweet.audited
    if tweet.positive
        .marker.positive
    else
        .marker.negative
