/* ==========================================
	 Load Atomic
	 ========================================== */

// Configure Atomic in _atomic.scss
@import "atomic"


/* ==========================================
	 Modules
	 ========================================== */

// @import "modules/my_module"


/* ==========================================
	 Your Styles
	 ========================================== */

html, body
    background: $background-color
    color: #fff

a, a:visited
    color: $link-color

.tweets
    li
        padding: 1em 2em
