{% extends 'layout.html' %}
{% block content %}
    <h2><span>Classify</span></h2>

    {# Show flash messages. #}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="results">
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% if tweet %}
        <div class="result mega">
            "<span>{{tweet}}</span>" is <b>{{result}}</b> likely to be retweetable.
        </div>
    {% endif %}

    <form action="" method="post" name="classify">
        {# CSRF field. #}
        {{form.hidden_tag()}}

        {{form.tweet(size=140, placeholder='Enter your tweet')}}

        {# Show validation errors. #}
        {% for error in form.errors.tweet %}
            <span style="color:red">{{error}}</span>
        {% endfor %}

        <input type="submit" value="Classify">
    </form>

    <script>
        // Focus on text field on load.
        document.classify.tweet.focus();
    </script>
{% endblock %}
